*{
  box-sizing: border-box;
}
body{
  background-color: rgb(221, 221, 221);
  background-size: cover;
  background-repeat: no-repeat;
}
.nav-title{
  margin-left: 10px;
  height: 100%;
}
button {
  width: auto;
  border: 0;
  padding: 50px;
  background: transparent;
  cursor: pointer;
  line-height: 0;
  color: inherit;
  font-family: "Euclid Circular A";
  font-size: 10px;
  display: flex;
  align-items: center;
  text-align: left;
  gap: 0px;
  padding: 0;
  height: 50%;
  opacity: 0.6;
}

@media (width >= 500px) {
  button {
    font-size: 16px;
  }
}

h2 {
  margin: 16px 0 10px;
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.3);
}

@media (width >= 500px) {
  h2 {
    font-size: 14px;
  }
}
.navbar,
.burger,
.dropdowns {
  position: relative;
  top: 0;
  /* width: 100%; */
  margin: auto;
}

.navbar {
  z-index: 1;
  left: 0;
  display: flex;
  align-items: center;
  height: 60px;
  background: #081E40;
  color: #f9f9f9;
  box-shadow: 0 8px 12px rgb(0 0 0 / 20%);
  width: 100%;
}

.burger {
  z-index: 3;
  right: 0;
  display: grid;
  place-items: center;
  width: 72px;
  height: 72px;
  background-image: url("../components/icons/menu.svg");
  background-repeat: no-repeat;
  background-position: center;
}

body.open .burger {
  background-image: url("./icons/close.svg");
}

@media (width >= 500px) {
  .burger {
    display: none;
  }
}

button > img {
  display: none;
}

@media (width >= 500px) {
  .dropdown > button {
    padding: 0 10px 0 24px;
  }

  button > img {
    display: block;
  }
}

@media (width >= 500px) {
  .dropdown:hover button {
    opacity: 1;
  }
}

.dropdowns {
  margin-right: 30px;
  /* left: -9999px; */
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 50px;
  background: #0d0d0e;
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-duration: 0.3s;
}

@media (width < 500px) {
  body.open .dropdowns {
    opacity: 1;
    visibility: visible;
    left: 0;
  }
}

@media (width >= 500px) {
  .dropdowns {
    position: static;
    flex-direction: row;
    justify-content: flex-end;
    background: transparent;
    opacity: 1;
    visibility: visible;
    padding-left: 0;
  }
}

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

@media (width >= 500px) {
  .dropdown {
    width: fit-content;
    height: 100%;
    flex-direction: row;
    align-items: center;
  }

  .dropdown-menu {
    position: absolute;
    top: 72px;
    left: 0;
    display: flex;
    gap: 32px;
    padding: 6px 24px 20px;
    margin-bottom: 0;
    justify-content: flex-start;
    background: #000000;
    opacity: 0;
    visibility: hidden;
    translate: 0 24px;
    transition: 0.3s;
  }

  .dropdown:hover {
    background: #284b80;
  }

  .dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    translate: 0 0;
  }
}

.dropdown-menu button {
  display: block;
  width: 100%;
  color: #f9f9f9;
  opacity: 1;
  height: 40px;
  text-align: left;
  white-space: nowrap;
}

@media (width >= 500px) {
  .dropdown-menu button {
    opacity: 0.6;
  }

  .dropdown:hover .button {
    opacity: 1;
  }
}

.dropdown-menu button:hover {
  opacity: 1;
}

.Cate-button{
  margin-top: 10%;
}
.user-butt{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vl{
  border-right: 3px solid #DDDDDD;
  height: 20px;
}
.Log_btn{
  position: relative;
  display: flex;
  margin-right: 30px;
  text-decoration: none;
}
.sign-up-btn{
  width: 66px;
  height: 25px;
  background: rgb(75, 98, 139);
  border-radius: 19.5px;
  color: white;
  align-items: center;
  justify-content: center;
}
a:-webkit-any-link {
  text-decoration: none;
  color: white;
  cursor: pointer;
}


/* search button */

.search {
  /* align-items: center;
  justify-content: center; */
  margin-top: 10%;
  margin-left: 100px;
}
input.search-bar {
  border: none;
  outline: none;
  padding: 1.1rem;
  /* border-radius: 24px; */
  color: rgb(3, 3, 3);
  font-family: inherit;
  font-size: 105%;
  width: 30%;
  background: #FFFFFF;
  border: 1px solid #A5A3A3;
  border-radius: 1px;
}
.searchbutton {
  /* margin: 0.1em; */
  padding: 1rem;
  /* border-radius: 50%; */
  border: none;
  /* height: 50px;
  width: 50px; */
  outline: none;
  background: #081E40;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.searchbutton:hover {
  background: #7c7c7c6b;
}
.search-ul{
  display: flex;
  align-items: center;
  list-style: none;
  
}

/* Dropdown Button */
.dropbtn {
  background-color: #081E40;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #0d0e0d;
  transition-duration: 0.3s;
}

/* The search field */
#myInput {
  box-sizing: border-box;
  background-image: url('./icons/search.svg');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {outline: 3px solid #ddd;}

/* The container <div> - needed to position the dropdown content */
.dropdown-b {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.flex-container{
  display: flex;
}
.search-side{
  width: 80%;
}
.work-text{
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 71px;
  color: #081E40;
}
h2{
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: #403f3f;
}
.Learn-btn{
  width: 139px;
  height: 37px;
  background: #081E40;
  border-radius: 14.5px;
  align-content: center;
  justify-content: center;
  color: white;
}
.review-title{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-decoration-line: underline;
  color: white;
}
.review-search-btn{
  width: 189px;
  height: 57px;
  background: #183d74;
  color: white;
  border-radius: 19.5px;
  align-content: center;
  justify-content: center;
}
.review-side{
  margin: 0;
  margin-top: 40px;
  width: 20%;
  height: 500px;
  left: 1151px;
  background: #081E40;
  border-radius: 22px 1px 0px 22px;
}
.join-us{
  margin-left: 30px;
}

p{
  color: white;
}

/* Second page sytle */

.second-page{
  background: #9d9d9d;
}
.nav2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 20%;
  color: white;
}

.hr-line{
  width: 120px;
  height: 0px;
  left: 321px;
  top: 639px;
  mix-blend-mode: exclusion;
  border: 3px solid #103870;
}

.or-line{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sign-with-google{
  width: 303px;
  height: 52px;
  left: 361px;
  top: 675px;
  color: white;
  background: #181717;
  mix-blend-mode: screen;
  border: 1px solid #103870;
  border-radius: 32px;
  font-family: 'Inter';
  text-align: center;
  margin: 0 auto;
}

.table {
  display: table;
  width: 100%;
  height: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.container {
  position: absolute;
  width: 600px;
  margin: 30px 25% 0;
  height: 320px;
  background-color: #999ede;
  top: 60%;
  margin-top: -160px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.container .box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container .box:before, .container .box:after {
  content: " ";
  position: absolute;
  left: 152px;
  top: 50px;
  background-color: #9297e0;
  transform: rotateX(52deg) rotateY(15deg) rotateZ(-38deg);
  width: 300px;
  height: 285px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.container .box:after {
  background-color: #a5aae4;
  top: -10px;
  left: 80px;
  width: 320px;
  height: 180px;
}
.container .container-forms {
  position: relative;
}
.container .btn {
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  width: 109px;
  color: #fff;
  background: #181717;
  mix-blend-mode: screen;
  border: 1px solid #453C3C;
  opacity: 1;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.container .btn:hover {
  opacity: 0.7;
}
.container .btn, .container input {
  padding: 10px 15px;
}
.container input {
  margin: 0 auto 15px;
  display: block;
  width: 220px;
  background: #FFFFFF;
  mix-blend-mode: soft-light;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.container .container-forms .container-info {
  text-align: left;
  font-size: 0;
}
.container .container-forms .container-info .info-item {
  text-align: center;
  font-size: 16px;
  width: 300px;
  height: 320px;
  display: inline-block;
  vertical-align: top;
  background: #081E40;
  opacity: 1;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.container .container-forms .container-info .info-item p {
  font-size: 20px;
  margin: 20px;
}
.container .container-forms .container-info .info-item .btn {
  background-color: transparent;
  border: 1px solid #fff;
}
.container .container-forms .container-info .info-item .table-cell {
  padding-right: 35px;
}
.container .container-forms .container-info .info-item:nth-child(2) .table-cell {
  padding-left: 35px;
  padding-right: 0;
}
.container .container-form {
  overflow: hidden;
  position: absolute;
  left: 30px;
  top: -30px;
  width: 305px;
  height: 380px;
  background: #3E678D;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.container .container-form:before {
  content: "✔";
  position: absolute;
  left: 160px;
  top: -50px;
  color: #5356ad;
  font-size: 130px;
  opacity: 0;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.container .container-form .btn {
  position: relative;
  box-shadow: 0 0 10px 1px #ff73b3;
  margin-top: 30px;
}
.container .form-item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.container .form-item.sign-up {
  position: absolute;
  left: -100%;
  opacity: 0;
}
.container.log-in .box:before {
  position: absolute;
  left: 180px;
  top: 62px;
  height: 265px;
}
.container.log-in .box:after {
  top: 22px;
  left: 192px;
  width: 324px;
  height: 220px;
}
.container.log-in .container-form {
  left: 265px;
}
.container.log-in .container-form .form-item.sign-up {
  left: 0;
  opacity: 1;
}
.container.log-in .container-form .form-item.log-in {
  left: -100%;
  opacity: 0;
}
.container.active {
  width: 260px;
  height: 140px;
  margin-top: -70px;
}
.container.active .container-form {
  left: 30px;
  width: 200px;
  height: 200px;
}
.container.active .container-form:before {
  content: "✔";
  position: absolute;
  left: 51px;
  top: 5px;
  color: #5356ad;
  font-size: 130px;
  opacity: 1;
}
.container.active input, .container.active .btn, .container.active .info-item {
  display: none;
  opacity: 0;
  padding: 0px;
  margin: 0 auto;
  height: 0;
}
.container.active .form-item {
  height: 100%;
}
.container.active .container-forms .container-info .info-item {
  height: 0%;
  opacity: 0;
}