*{
  box-sizing: border-box;
}
body{
  background-color: #181717;
  background-size: cover;
  background-repeat: no-repeat;
}
button {
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
  line-height: 1;
  color: inherit;
  font-family: "Euclid Circular A";
  font-size: 14px;
  display: flex;
  align-items: center;
  text-align: left;
  gap: 4px;
  padding: 0;
  height: 100%;
  opacity: 0.6;
}

@media (width >= 500px) {
  button {
    font-size: 16px;
  }
}

h2 {
  margin: 16px 0 10px;
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.3);
}

@media (width >= 500px) {
  h2 {
    font-size: 14px;
  }
}
.navbar,
.burger,
.dropdowns {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar {
  z-index: 1;
  left: 0;
  display: flex;
  align-items: stretch;
  height: 74px;
  background: #081E40;
  color: #f9f9f9;
  box-shadow: 0 8px 12px rgb(0 0 0 / 20%);
}

.burger {
  z-index: 3;
  right: 0;
  display: grid;
  place-items: center;
  width: 72px;
  height: 72px;
  background-image: url("./icons/menu.svg");
  background-repeat: no-repeat;
  background-position: center;
}

body.open .burger {
  background-image: url("./icons/close.svg");
}

@media (width >= 500px) {
  .burger {
    display: none;
  }
}

button > img {
  display: none;
}

@media (width >= 500px) {
  .dropdown > button {
    padding: 0 10px 0 24px;
  }

  button > img {
    display: block;
  }
}

@media (width >= 500px) {
  .dropdown:hover button {
    opacity: 1;
  }
}

.dropdowns {
  margin-right: 20%;
  left: -9999px;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 50px;
  background: #0d0d0e;
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-duration: 0.3s;
}

@media (width < 500px) {
  body.open .dropdowns {
    opacity: 1;
    visibility: visible;
    left: 0;
  }
}

@media (width >= 500px) {
  .dropdowns {
    position: static;
    flex-direction: row;
    justify-content: flex-end;
    background: transparent;
    opacity: 1;
    visibility: visible;
    padding-left: 0;
  }
}

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

@media (width >= 500px) {
  .dropdown {
    height: 100%;
    flex-direction: row;
    align-items: center;
  }

  .dropdown-menu {
    position: absolute;
    top: 72px;
    left: 0;
    display: flex;
    gap: 32px;
    padding: 6px 24px 20px;
    margin-bottom: 0;
    justify-content: flex-start;
    background: #000000;
    opacity: 0;
    visibility: hidden;
    translate: 0 24px;
    transition: 0.3s;
  }

  .dropdown:hover {
    background: #294bbb;
  }

  .dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    translate: 0 0;
  }
}

.dropdown-menu button {
  display: block;
  width: 100%;
  color: #f9f9f9;
  opacity: 1;
  height: 40px;
  text-align: left;
  white-space: nowrap;
}

@media (width >= 500px) {
  .dropdown-menu button {
    opacity: 0.6;
  }

  .dropdown:hover .button {
    opacity: 1;
  }
}

.dropdown-menu button:hover {
  opacity: 1;
}

.Cate-button{
  margin-top: 10%;
}
.user-butt{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* search button */

.search {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  margin-right: 50%;
}
input.search-bar {
  border: none;
  outline: none;
  padding: 1.1rem;
  /* border-radius: 24px; */
  background: #7c7c7c2b;
  color: white;
  font-family: inherit;
  font-size: 105%;
  width: 147%;
  box-shadow: 0px 3px 10px 5px #0d0d0e;
}
.searchbutton {
  /* margin: 0.1em; */
  padding: 1rem;
  /* border-radius: 50%; */
  border: none;
  /* height: 50px;
  width: 50px; */
  outline: none;
  background: red;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.searchbutton:hover {
  background: #7c7c7c6b;
}
.search-ul{
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-left: 0%;
  
}
/* .card {
  background: #000000d0;
  color: white;
  padding: 14em;
  width: 45%;
  height: 100%;
  margin-top: 11%;
  margin-left: 7%;
}



.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

#myInput {
  box-sizing: border-box;
  background-image: url('./icons/search.svg');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.cate-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.cate-dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.Card-button{
  padding: 40px;
  display: inline;
  color: rgb(34, 13, 107);
  font-size: 1.5rem;
  background-image: linear-gradient(
      to right,
      white 50%,
      white 50%,
      white 50%
    );
    position: relative;
    background-clip: initial;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}
#nav-ul{
  list-style: none;
  display: flex;
}
.Card-button:before{
  content:'';
  background: lightblue;
  bottom: 25px;
  width: 0;
  height: 3px;
  left: 30px;
  position: absolute;
  transition: all 0.3s ease-in-out;
}
.Card-button:hover{
  background-position: 0;
}
.Card-button:hover::before{
  width: 60%;
}
.Card-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 30px 40px;
  list-style: none;
  display: flex;
}
button{
  color: white;
} */